<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form>
      <div class="group-form">
        <label for="email">Wyszukaj użytkownika:</label>
        <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Search...">

        <label for="btn">Wybierz kudosa:</label>
        <br>
        <button class="btn btn-outline-warning">Zaufanie</button>
        <button class="btn btn-outline-success">Kreatywność</button>
        <button class="btn btn-outline-info">Energia</button>
        <button class="btn btn-outline-primary">Rozwój</button>
        <button class="btn btn-outline-danger">Profesjonalizm</button>
        <br>
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" rows="4" id="comment"></textarea>
        </div>

        <button class="btn btn-basic" type="submit">Send</button>
      </div>
    </form>
  </div>